<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Invertire una stringa</h4>
      <p mat-line>Scrivere una stringa e visualizzare la stringa con le lettere invertite</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Rimuovi duplicati da una stringa</h4>
      <p mat-line>Scrivere una stringa e dare evidenza di eventuali caratteri duplicati e visualizzare la stringa senza caratteri duplicati</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Il numero mancante</h4>
      <p mat-line>Scrivere un array di numeri, max valore del numero 10 e max numeri 10 (ad es. tramite un input e pulsante "add") e controllare quali numeri mancano (in una serie da 0-10). Es. [0, 2, 5, 4, 7, 9]. Numeri mancanti: 1, 3, 6, 8, 10</p>
    </mat-list-item>
  </mat-list>
</mat-card>
