<app-cicerone-issue></app-cicerone-issue>
<mat-card class="soluzione-card">
  <mat-card-header>
    <mat-card-title>Soluzione</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      ...
    </p>
  </mat-card-content>
</mat-card>

