<button mat-button [routerLink]="'home'" routerLinkActive="mat-accent">Home</button>
<button mat-button [routerLink]="'/'+user.path" *ngFor="let user of users"  routerLinkActive="mat-accent">{{user.firstName}} {{user.lastName}}</button>
