<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Controllare se una frase è palindroma</h4>
      <p mat-line>Scrivere una frase e controllare se è palindroma</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Ordinamento date</h4>
      <p mat-line>Selezionare tre date e visualizzarle in ordine crescente</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Unire e ordinare due array</h4>
      <p mat-line>Scrivere due array di numeri (ad es. tramite un input e pulsante "add"), visualizzarli e ordinarli in senso crescente e decrescente attraverso i relativi pulsanti</p>
    </mat-list-item>
  </mat-list>
</mat-card>
