.expansion-panel {
  background-color: rgba(255, 215, 64, 0.2);
}

.box-example{
  display: block;
  margin: 0 auto;
  width: 80%;
}

.box-example .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.box-example  .example-full-width {
  width: 100%;
}
