<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Esempio
      </mat-panel-title>
      <mat-panel-description>
        Check Numero Primo
      </mat-panel-description>
    </mat-expansion-panel-header>
        <div class="box-example">
          <p>
            Verificare che un numero sia <strong>Numero Primo</strong>
          </p>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput type="number" name="numberPrime" placeholder="Digitare un numero" [(ngModel)]="numberPrime">
            </mat-form-field>
          </form>
          <mat-chip-list aria-label="Check numero primo" *ngIf="numberPrime">
            <mat-chip [color]="checkIsPrime ? 'accent': 'primary'" selected>{{(checkIsPrime) ? "È" : "Non è"}} un numero primo!</mat-chip>
          </mat-chip-list>
        </div>
  </mat-expansion-panel>
</mat-accordion>
