<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Serie di Fibonacci</h4>
      <p mat-line>Dato un numero visualizzare la relativa serie di Fibonacci</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Elementi duplicati in un array</h4>
      <p mat-line>Scrivere un array di numeri (ad es. tramite un input e pulsante "add"), visualizzarli e dare evidenza di eventuali elementi duplicati</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Giorni tra due date</h4>
      <p mat-line>Selezionare due date e visualizzare i giorni che separano le due date</p>
    </mat-list-item>
  </mat-list>
</mat-card>
