<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Invertire le parole di una stringa</h4>
      <p mat-line>Scrivere una stringa e visualizzare la stringa con le parole invertite. Es. "lorem ipsum dolor sit amet" -> "amet sit dolor ipsum lorem" </p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Sommare giorni a una data</h4>
      <p mat-line>Selezionare una data, in un campo di input inserire un numero di giorni e visualizzare la data incrementata</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Quanti zeri</h4>
      <p mat-line>Scrivere un numero n e contare gli zeri presenti nella serie che va da 0 fino a n</p>
    </mat-list-item>
  </mat-list>
</mat-card>
