<mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Invertire i caratteri di ogni singola parola di una stringa</h4>
      <p mat-line>Scrivere una stringa e visualizzare la stringa con i caratteri invertiti per ogni parola.  Es. "lorem ipsum dolor sit amet" -> "merol muspi rolod tis tema"</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Controllare se una stringa è contenute in un'altra</h4>
      <p mat-line>Scrivere due stringhe e controllare che la seconda sia contenuta nella prima</p>
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon mat-list-icon>chevron_right</mat-icon>
      <h4 mat-line>Numeri consecutivi</h4>
      <p mat-line>Scrivere un array di numeri (ad es. tramite un input e pulsante "add"), ordinarli e controllare quali numeri sono consecutivi</p>
    </mat-list-item>
  </mat-list>
</mat-card>
