<div class="box flex">
  <mat-card class="card" *ngFor="let user of users">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="icon">account_circle</mat-icon>
      </div>
      <mat-card-title>{{user.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user.firstName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [ngSwitch]="user.lastName">
        <app-bianchi-issue *ngSwitchCase="'Bianchi'"></app-bianchi-issue>
        <app-cicerone-issue *ngSwitchCase="'Cicerone'"></app-cicerone-issue>
        <app-fantini-issue *ngSwitchCase="'Fantini'"></app-fantini-issue>
        <app-macchia-issue *ngSwitchCase="'Macchia'"></app-macchia-issue>
        <app-shkembi-issue *ngSwitchCase="'Shkembi'"></app-shkembi-issue>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="'/'+user.path" class="align-right">VAI</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="example-container">
  <app-example></app-example>
</div>
