/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-right {
  float: right;
}

.card {
  max-width: 440px;
}

.header-image {
  background-size: cover;
}

.box.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box.flex .card.mat-card {
  flex-basis: 440px;
  margin-bottom: 18px;
}

.soluzione-card{
  margin-top: 20px;
}
